* {
  font-family: 'Patrick Hand', cursive;
}

.scores-div {
  display: flex;
  gap: 10px;
}

.table-input-div {
  display: flex;
}

.one-half {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.two-half {
  display: flex;
  flex-direction: column;
}

.submit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#scoreSubmit {
  box-shadow: 3px 3px black;
  background-color: transparent;
  width: 30%;
  margin-left: 70%;
}

#refresh-btn {
  display: flex;
  box-shadow: 3px 3px black;
  background-color: transparent;
  height: 30%;
  margin-top: 15%;
}

.logo {
  font-size: 50px;
}

tr:nth-child(even) {
  background-color: blueviolet;
}
